[submodule "lib/Rtc"]
	path = lib/Rtc
	url = https://github.com/Makuna/Rtc
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/WakeOnLan"]
	path = lib/WakeOnLan
	url = https://github.com/a7md0/WakeOnLan.git
[submodule "lib/Ethernet"]
	path = lib/Ethernet
	url = https://github.com/arduino-libraries/Ethernet.git
[submodule "lib/Arduino-IRremote"]
	path = lib/Arduino-IRremote
	url = https://github.com/Arduino-IRremote/Arduino-IRremote.git
